In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("training.csv")

In [3]:
df.tail()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
571,698,23,1,250,23,0
572,433,16,3,750,86,0
573,360,21,2,500,52,0
574,541,39,1,250,39,0
575,74,72,1,250,72,0

In [4]:
import matplotlib.pyplot as plt

In [5]:
y=df.iloc[0:100, 4].values

In [6]:
print(y)

[98 28 35 45 77  4 14 35 98  4 28 47 15 11 48 49 15  4  4 28 16 16 40 14 21
 58 28 28 64 28 47 16 22 53 16 16 16 69 28 36  2  2  2 46 46 22 14 69 26 28
 21 35 16 74 14  4 25 51 16 16 71  4  4  4 16  4  4 16 16 16 28 28  4  4 35
  4  4  4 23 86 38 34 40 26 70 59 14 64 46 23 40 82 64 46 61 57 79 16 26 41]

In [7]:
df.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [8]:
y=df.iloc[0:576,5].values

In [9]:
print(y[0:5])

[1 1 1 1 0]

In [10]:
x=df.iloc[0:100,[0,2]].values

In [11]:
print (x[0:5])

[[619  50]
 [664  13]
 [441  16]
 [160  20]
 [358  24]]

In [33]:
y=df.iloc[0:576,5].values

In [34]:
x=df.iloc[0:576,1].values

In [14]:
plt.scatter(x[0:576], y[0:576], color='red', marker ='o', label='donation')
plt.xlabel('Months since last donation')
plt.ylabel('Donated in March')
plt.legend(loc='upper left')
plt.show()

In [15]:
x=df.iloc[0:576,2].values

In [16]:
plt.scatter(x[0:576], y[0:576], color='red', marker ='o', label='donation')
plt.xlabel('number of donations')
plt.ylabel('Donated in March')
plt.legend(loc='upper left')
plt.show()

In [22]:
class Perceptron(object):
    def _init_(self, eta=0.01, n_iter = 10):
        self.eta=eta
        self.n_iter=n_iter
    def fit (self, x, y):
        self.w_=np.zeros(1+x.shape[1])
        self.errors_=[]
        for _ in range(self.n_iter):
            errors=0
            for xi, target in zip(x,y):
                update=self.eta*(target-self.predict(xi))
                self.w_[1:]+=update*xi
                self.w_[0]+=update
                errors +=int(update !=0.0)
            self.errors_.append(errors)
        return self
    
    def net_input(self, x):
        return np.dot(x, self.w[1:])+self.w[0]
    
    def predict(self, x):
        return np.where(self.net_input(x)>0.0, 1, -1)